{% extends 'base.html.twig' %}

{% block title %}New Structure{% endblock %}

{% block body %}
    <section>
        {{ form_start(form, {'attr': {'id': 'form'}}) }}
        {{ form_end(form) }}

        <div class="button-footer">
            <div>
                <a class="btn btn-primary" href="{{ path('structure_index') }}">Retour à la liste</a>
            </div>
            <div class="right">
                <button id="btn-save" class="btn btn-success">Créer</button>
            </div>
        </div>
        <script>
            let btnSave = document.getElementById('btn-save');
            let form = document.getElementById('form');
            btnSave.addEventListener('click',function(){form.submit();});
        </script>
    </section>
{% endblock %}
