{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <section class="content">
        <div class="row">
            {% for account in accounts %}
                <div class="card mb-3">
                    <div class="card-body d-flex">
                        <a href=" {{ path('account_show', {'id': account.id}) }}" class="flex-grow-1">
                            <h5 class="card-title">{{ account.getPerson().firstName ~ " " ~ account.getPerson().lastName }}</h5>
                            <p class="card-text">{{ account.email }}</p>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="flex-shrink-0 d-flex justify-content-center align-items-center">
                                <a class="btn btn-primary" role="button" href="{{ path('account_edit', {'id': account.id}) }}">Éditer</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
