{% extends 'base.html.twig' %}

{% block title %}Account index{% endblock %}

{% block body %}
    <section>
        <div>
            {% for account in accounts %}
                {% embed "list_item.twig" %}
                    {% block link %}
                        {{ path('account_show', {'id': account.id}) }}
                    {% endblock %}
                    {% block title %}
                        {{ account.getPerson().firstName ~ " " ~ account.getPerson().lastName }}
                    {% endblock %}
                    {% block desc %}
                        {{ account.email }}
                    {% endblock %}
                    {% block action %}
                        <a class="primary" href="{{ path('account_edit', {'id': account.id}) }}">
                            Éditer
                        </a>
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        </div>
     </section>
{% endblock %}
