{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}
    <section class="content">
        <div class="panel shadow-sm">
            <h5>Vos informations</h5>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div>
                        Prénom : {{ app.user.getPerson().firstName }}
                    </div>
                    <div>
                        Nom de famille : {{ app.user.getPerson().lastName }}
                    </div>
                    <div>
                        Téléphone : {{ app.user.getPerson().phoneNumber }}
                    </div>
                    <div>
                        Email : {{ app.user.email }}
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                </div>
            </div>
        </div>
        <div class="panel shadow-sm">
            {% if app.user.getPrescriptions()|length > 0 %}
            {% else %}
                Vous n'avez encore pas reçu d'ordonnance
            {% endif %}
        </div>
    </section>
{% endblock %}
