<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('home') }}
    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<div id="navbar">
    <img src="{{ asset('images/univ-tours.png') }}" alt="logo univ-tours">
    <div>
        <a class="btn btn-main" href="{{ path('app_authenticate') }}">Se connecter </a>
    </div>
</div>
<section class="home row">
    <div class="col-xl-5 col-md">
        <div>
            <h1>Projet APA</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim eros ligula, ut eleifend orci
                cursus a. Aenean nec sem accumsan, dapibus tellus nec, accumsan erat. Suspendisse ac eros ac eros luctus
                pretium. Suspendisse viverra dolor eget elit suscipit venenatis.
            </p>
            <a class="btn btn-main slide-in-bottom">Accèder à mon planning</a>
        </div>
    </div>
    <div class="col-xl-7 col-md">
        <div class="picture slide-in-right">
            {% include 'icon/sport_trainer.svg' %}
        </div>
    </div>
</section>
</body>
</html>
