{% extends 'base.html.twig' %}

{% block stylesheets %}

{% endblock %}

{% block head_body %}
    <section>
        <div class="searchbar">
            <label class="input">
                <input type="text">
            </label>
            <div class="glass-icon">
                {% include 'icon/loupe.svg' %}
            </div>
        </div>
    </section>
{% endblock %}

{% block body %}
    {% if app.user == null %}
        <section id="stat-panel">
            <h2>Papa c'est</h2>
            {% for stat in stats %}
                <div class="stat">
                    <h3>{{ stat['value'] }}</h3>
                    <p>{{ stat['desc'] }}</p>
                </div>
            {% endfor %}
        </section>
    {% else %}
        <section>
            {% include 'calendar.twig' %}
        </section>
    {% endif %}
{% endblock %}
