{% extends 'base.html.twig' %}

{% block title %}Prescription index{% endblock %}

{% block body %}
    <section class="content">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="row mb-3">
                <a class="btn btn-full btn-main" href="{{ path('structure_new') }}">
                    <span>Rédiger une ordonnance</span>
                </a>
            </div>
        {% endif %}
        <div class="row">
            {% for prescription in prescriptions %}
            {% else %}
                Pas d'ordonnance
            {% endfor %}
        </div>
    </section>
{% endblock %}
