@import "colors";

#illustrationPane {
  position: relative;
  background-color: $color_main;
  border-bottom-right-radius: 4em;
  padding: 3em;
}

#illustrationPane:before{
  position: absolute;
  z-index: -1;
  display: block;
  content: "";
  background-color: $color_background;
  min-width: 100%;
  min-height: 100%;
}

#accessPane{
  position: relative;
  background-color: $color_background;
  border-top-left-radius: 4em;
  .panel{
    max-width: 340px;
    width: 100%;
  }
  .alert{
    margin-top: -1em;
    margin-bottom: 1.5em;
  }
  button{
    -webkit-box-shadow: 0px 10px 19px -5px rgba(36,128,249,0.75);
    -moz-box-shadow: 0px 10px 19px -5px rgba(36,128,249,0.75);
    box-shadow: 0px 10px 19px -5px rgba(36,128,249,0.75);
  }
}

#accessPane:before{
  position: absolute;
  z-index: -1;
  display: block;
  content: "";
  background-color: $color_main;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 800px) {
  #illustrationPane{
      display: none;
  }
  #accessPane{
    border-top-left-radius: 0;
    align-items: end;
    .panel{
      max-width: 100%;
      .body{
        border-radius: 0;
      }
    }
  }
}