$color_main: #247ff9;
$color_main_dark: #224358;
$color_background: #ebf0fa;
$color_lightGray: #efeff1;
$color_gray: #7d798f;
$color_text: #545454;
$color_highlight: #E8274C;

$color_danger: #dc3545;
$color_success: #28a745;