@import "variables";

@import "calendar";

$viewport_min_height: 800px;

section.home {
    height: calc( 100vh - 4.4rem );
    padding: 1rem 0;

    & > div {
        display: grid;
        place-items: center;
        padding: 1rem;
    }

    .picture {
        position: relative;
        width: 100%;
        height: 100%;
        svg{
            width: 100%;
            height: 100%;
        }
    }
}

#navbar{
    position: relative;
    height: 4.4rem;
    .body {
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        height: min-content;
        padding: 1.2rem;
        background-color: rgba(255, 255, 255, 0.85);
        z-index: 1000;

        img {
            height: 2rem;
        }

        * {
            max-height: 2rem;
            line-height: 1.2rem;
        }

        svg {
            display: inline-block;
            height: 2rem;
            width: 2rem;
            fill: $color_main;
            transition: all 200ms ease-in-out;
            margin-left: 1rem;
        }

        svg:hover{
            cursor: pointer;
        }

        svg:active{
            transform: scale(0.9);
        }
        #nav-links{
            z-index: 1010;
            transition: all 200ms ease-in-out;
            position: fixed;
            display: block;
            width: $navbar_width;
            height: 100vh;
            top: 0;
            right: $navbar_width * -1;
            max-height: 100vh;
            background-color: white;
            padding: 1rem;
            .btn{
                width: 100%;
            }
            &>*{
                display: block;
            }
        }
        #nav-overlay{
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            max-height: 100vh;
            background-color: $color_gray;
            opacity: 0.4;
            z-index: 1000;
        }
    }
}

@media (max-width: 800px) {
    #navbar{

    }
}