@import "colors";
@import "variables";

@import "calendar";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white;
}

.searchbar{
    width: 100%;
    display: flex;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    padding: 0.5rem 1rem;
    .glass-icon{
        $icon_size: 20px;

        display: grid;
        place-items: center;
        margin-left: 0.5rem;
        svg{
            width: $icon_size;
            height: $icon_size;
        }
    }
    .input{
        flex-grow: 1;
        input{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            font-size: 1.05rem;
            font-weight: 300;
        }
    }
}

section{
    margin: auto;
    padding: 1rem 1.5rem;
    max-width: 1100px;
    position: relative;
}

header{
    background-color: $color_main;
    nav{
        $icon_size: 30px;

        display: grid;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        align-items: center;
        color: white;
        padding: 0.5rem 1.5rem;

        #navbar-link {
            #navbar-menu-icon {
                width: $icon_size;
                height: $icon_size;
                svg {
                    width: 100%;
                    height: 100%;
                    fill: white;
                }
            }
            #navbar-overlay{
                display: none;
                position: fixed;
                background-color: rgba(0, 0, 0, 0.26);
                height: 100vh;
                width: 100vw;
                top: 0;
                left: 0;
                z-index: 1000;
            }
            #navbar-overlay:hover{
                cursor: pointer;
            }
            #navbar-panel{
                position: fixed;
                width: 250px;
                height: 100vh;
                top: 0;
                left: -250px;
                background-color: $color_main_dark;
                transition: all 300ms ease-in-out;
                z-index: 1010;
                * {
                    display: block;
                    text-decoration: none;
                    color: white;
                }
                &>div{
                    label{
                        padding: 1rem 0.7rem;
                        font-size: 1.2rem;
                        border-bottom: solid 2px $color_gray;
                        margin-bottom: 0.5rem;
                    }
                    a{
                        padding: 0.5rem 0.7rem;
                        transition: all 100ms ease-in-out;
                    }
                    a:hover{
                        padding-left: 1rem;
                    }
                }
            }
        }

        #navbar-logo{
            a{
                margin: auto;
                font-family: 'Allura', cursive;
                font-size: 2.2rem;
                text-decoration: none;
                color: white;
            }
        }

        #navbar-account {
            a {
                color: white;
                margin-left: auto;
                text-decoration: none;
                font-weight: bold;
                font-size: 0.85rem;
            }
        }
    }
}

#body{
    #stat-panel{
        display: grid;
        place-items: center;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        border-radius: 8px;
        background-color: white;
        text-align: center;
        padding: 1rem 0;
        h2{
            white-space: nowrap;
        }
        &>*{
            padding: 1.5rem;
            margin: 1.5rem 0;
        }
    }
}

footer{

}

.item_list{
    display: flex;
    padding: 1rem;
    margin-bottom: 0.6rem;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.35);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.35);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.35);
    .body{
        display: block;
        flex-grow: 1;
        color: black;
        text-decoration: none;
        h3{
            margin-bottom: 0.5rem;
        }
        p{
            font-size: 0.9rem;
        }
    }
    .action{
        display: flex;
        align-items: center;
        a{
            display: block;
            border-radius: 4px;
            padding: 0.3rem;
            margin-left: 0.5rem;
            color: white;

            svg{
                width: 100%;
                height: 100%;
            }
            transition: all 100ms ease-in-out;
        }
        .danger{
            background-color: #dc3545;
        }
        .primary{
            background-color: #007bff;
        }
    }
}

.item_list:hover{
    cursor: pointer;
}

.float_bottomRight{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: #28a745;
    padding: 0.5rem;
    color: white;
    border-radius: 8px;
}

@media (max-width: 600px) {
    #body {
        #stat-panel {
            grid-auto-rows: auto;
            grid-auto-flow: row;
            &>* {
                margin: 0 1.5rem;
            }
        }
    }
}