$color_main: #01A99C;
$color_main_dark: #224358;
$color_background: #ebf0fa;
$color_lightGray: #efeff1;
$color_gray: #7d798f;
$color_text: #545454;
$color_highlight: #E8274C;

$navbar_height: 70px;
$navbar_width: 240px;
$navbar_padding: 2rem;