{% extends 'base.html.twig' %}

{% block body %}
    <section class="home row">
        <div class="col-xl-5 col-md">
            <div>
                <h1>Projet APA</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dignissim eros ligula, ut eleifend orci
                    cursus a. Aenean nec sem accumsan, dapibus tellus nec, accumsan erat. Suspendisse ac eros ac eros luctus
                    pretium. Suspendisse viverra dolor eget elit suscipit venenatis.
                </p>
                <a class="btn btn-main slide-in-bottom">Accèder à mon planning</a>
            </div>
        </div>
        <div class="col-xl-7 col-md">
            <div class="picture slide-in-right">
                {% include 'icon/sport_trainer.svg' %}
            </div>
        </div>
    </section>
{% endblock %}