<div class="item_list">
    <a class="body" href="{% block link %}{% endblock %}">
        <h3>{% block title %}Titre{% endblock %}</h3>
        <p>{% block desc %}Description{% endblock %}</p>
    </a>
    <div class="action">
        {% block action %}Action{% endblock %}
    </div>
</div>